body{
padding:0;
margin:0;


}

#container{
width:100%;
height:100%;
}

#head{
width:100%;
background-color:black;
height:7%;
opacity:0.9 !important;
 font-size:110%;

}
#head #titulo{
color:#ffffff;
 padding:10px;
 margin-left:10px;
font: caption;
 opacity: 0.9;

}

#body{
width:100%;
height:83%;
background-color:black;
}
#body img{
width:65%;
margin-top:20px;
margin-left:17%;
height:90%;
}
#toolbar{
width:100%;
height:10%;
opacity:0.9 !important;

}

#toolbar #imges_toolbar{
background-color:black;
width:100%;
}
#images{
 margin-right:10px;
 margin-bottom:4px;
  opacity: 0.6;
 background-color:black;
}
#pencil{
  margin:8px;
  opacity: 0.6;
}
#printer{
 margin:8px;
 margin-left:43%;
 opacity: 0.6;
  margin-right:10px;
}

#images:hover{
  opacity: 0.3;
}
#pencil:hover {
  opacity: 0.3;
}
#printer:hover {
  opacity: 0.3; 
}
@media (max-width: 450px) {
#printer{
 margin:8px;
 margin-left:30%;
 opacity: 0.6;
  margin-right:10px;
}
#body img{
width:65%;
margin-top:70px;
margin-left:0%;
width:100%;
height:80%;
}

  }




